/**{outline: 1px solid red;}*/

body {font-size: 14px; font-size: 14px; font-size: 1.4rem; background: #f5f5f5; padding-top: 80px;}
.imagen-hero{
    background-image: url("../img/programas/alimentaria/portada-alimentaria2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    position: relative;
}
.imagen-hero .block{
    color:white;
    background-color: rgba(0,0,0,0.4);
    width:57%; height: auto;
    margin-top: 160px;
    margin-left: 21.5%;
    padding: 10px;
    text-align: center;
}
.imagen-hero h3 {
    font-size: 2em;
    line-height: 1;
    text-transform: uppercase;
    font-family: font-family:'Roboto', sans-serif;
    margin-bottom: 20px;
}
.imagen-hero h4{font-size:17px; font-weight: 200; text-align: center; padding: 0 10px;}

/*-------submenu----------*/
.content-info .submenu #accordion{background: transparent; margin-bottom: 0;}
.content-info .submenu ._Title{border: none;}
.content-info .submenu #accordion .spacy{background-color: rgb(229,229,229); height:30px;width:100%;}
.content-info .submenu #accordion h4{text-transform: uppercase; font-weight: 300; text-shadow: 0 1px 1px #000; font-size:15px; color: #fff;}
.content-info .submenu #accordion h3{text-transform: none; font-size: 14px; padding-left: 15px; text-shadow: none; font-weight:bold; }
.content-info .submenu #accordion .glyphicon { margin-right:10px; }
.content-info .submenu #accordion .panel {border-radius: 0px; background: transparent; margin-top: 0px;}
.content-info .submenu #accordion .panel-mg-top{margin-top: 5px;}
.content-info .submenu #accordion .panel-body { padding:0px; margin:0 30px;}
.content-info .submenu #accordion .panel-body .table_1 h5 i { font-size:12px;}
.content-info .submenu #accordion .panel-body-bottom {margin-bottom: 5px;}
.content-info .submenu #accordion .panel-body .table {margin-bottom: 0px; }
.content-info .submenu #accordion .panel-heading { border-radius: 0px; background:rgb(50,57,70);}
.content-info .submenu #accordion .panel-heading .fa {width:16px; margin-left:-20px; }
.content-info .submenu #accordion .panel-collapse .panel-body .table_1 h5{ color: #fff; background:transparent;
border-bottom:1px dashed #000; margin:3px 0px; padding: 5px 0;}
.content-info .submenu #accordion .panel-collapse .panel-body .table_1 .bottom{border-bottom:0px; }
.content-info .submenu #accordion .panel-collapse .panel-body .table_1 a:hover{color: rgb(251,65,65); }
.content-info .submenu #accordion .panel-body .table_1 h5 { padding-left: 15px; }
.content-info .submenu #accordion .panel-body .table_1 h5 a{color: #00000c; text-decoration: none;}
.content-info .submenu #accordion .tipo-programa{border-left: none; border-right: none; border-top: none; 
border-radius: 2px; color: rgb(50,57,70); background: #f5f5f5; box-shadow: inset -1px -1px 4px 0px rgb(50,57,70);}
.content-info .submenu #accordion .mg-bottom{margin-bottom: 5px;}
.content-info .submenu #accordion .panel-hover a{text-decoration: none;}
.content-info .submenu #accordion .panel-hover:hover{background-color: rgba(251,65,65,.7); box-shadow: none;}
.content-info .submenu #accordion .panel-hover:hover h3{color:#fff; text-shadow: 0 0px 1px rgba(251,65,65,.9); }

/*---------contenidoooo---------------*/
.section-information h3{ font-size: 2.8rem;}
.section-information{background-color: rgb(229,229,229);padding: 10px 0em 2em;}
.section-information img{width: 100%;}
.section-information .fila{margin: 15px 0px 15px 0;}
.section-information .images p{text-align: center; font-weight:100;background-color: rgb(67, 86, 99);color: #fff; padding: 5px 0px;}
.section-information .img-thumbnail{border-radius: 0px; margin: 20px 0 0 0; }
.section-information .titulo-programa{background: rgb(50,57,70); padding: 12px 1em; font-size: 30px; color: #fff;
margin-left: 15px; margin-right: 15px; text-shadow: 0 1px 1px #000;}
/*-------SLIDERRRR-----------------*/
#slider-alimentaria #media .thumbnail{margin-bottom: 0px;}
#slider-alimentaria .carousel{padding: 0;}
#slider-alimentaria .media-carousel{padding: 1em 3em 1em 3em; }
#slider-alimentaria .media-carousel .carousel-control.left {background-image: none; background: none repeat scroll 0 0 #222222; border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px; height: 40px; width : 40px; margin-top: 80px;}
#slider-alimentaria .media-carousel .carousel-control.right { background-image: none; background: none repeat scroll 0 0 #222222; border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px; height: 40px; width : 40px; margin-top: 80px;}
#slider-alimentaria .media-carousel .carousel-indicators {right: 50%;top: auto;bottom: 0px;}
#slider-alimentaria .media-carousel .carousel-indicators .active{background: #333333;}
#slider-alimentaria .media-carousel img{width: 230px;height: 150px; margin: 0px;}
#slider-alimentaria h4{font-size: 16px; font-weight: 600; color: rgb(40, 46, 58);}
@media (max-width: 767px){
    .information_menu_mobile li a {padding: 20px;}
}
@media (max-width: 750px){
    .imagen-hero .block {margin-bottom: 120px;}
}
@media (max-width: 400px){
    .imagen-hero .block h3{ font-size: 1.8em; }
    .imagen-hero .block h4{font-size:15px;}
}
@media (max-width: 330px){
    .imagen-hero .block {margin-bottom: 160px;}
    .imagen-hero .block h3{ font-size: 1.6em; }
    .imagen-hero .block h4{font-size:14px;}
}
@media (max-width: 461px){
    .imagen-hero .block{ margin-top: 130px;}
}
@media (max-width: 290px){
    .imagen-hero .block h3{ font-size: 1.5em; }
}
@media (max-width: 450px){
   .section-information .images .col-xs-3{width: 50%;}
}
@media (max-width: 490px){
   #slider-alimentaria .media-carousel{padding-bottom: 0px; }
   #slider-alimentaria{margin-bottom: -140px;}
}
@media (max-width: 500px){
.section-information .titulo-programa{font-size: 25px; text-align: center;}
}
@media only screen and (min-width: 274px ) and (max-width: 490px){
    #slider-alimentaria .foto1 {width: 100%;}
    #slider-alimentaria .foto2 {visibility: hidden;}
    #slider-alimentaria .foto3 {visibility: hidden;}
}

/*----------responsive large----------*/
@media only screen and (min-width: 1441px ) and (max-width: 2600px){
    .imagen-hero{ height: 550px;}
    .imagen-hero .block{
    background-color: rgba(0,0,0,0.4); width:66%;
    margin-top: 190px;
    margin-left: 17.5%;
    padding: 10px;
}
    .imagen-hero h3 {font-size: 3em;}
    .imagen-hero h4{font-size:25px; font-weight: 200;}

}