/**{outline: 1px solid green;}*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
body{font-family: 'Roboto', sans-serif;}
.titulo-general{background: rgb(50,57,70); color: #fff; padding: 12px 1em; margin:0 0 10px 0; font-size: 30px; 
	font-weight: 500; text-shadow: 0 1px 1px #000;}
.portada{
    width: 100%;
    height: 450px;
    background-image: url(../img/programas/proyectos-respon/portada-proyectos.jpg);
    background-size: cover;
    background-position: right;
    margin-top: 80px;
}
/*-------submenu----------*/
.section-info .submenu #accordion{background: transparent; margin-bottom: 0;}
.section-info .submenu ._Title{border: none;}
.section-info .submenu #accordion .spacy{background-color: rgb(229,229,229); height:30px;width:100%;}
.section-info .submenu #accordion h4{text-transform: uppercase; font-weight: 300; text-shadow: 0 1px 1px #000; font-size:15px; color: #fff;}
.section-info .submenu #accordion h3{text-transform: none; font-size: 14px; padding-left: 15px; text-shadow: none; font-weight:bold; }
.section-info .submenu #accordion .glyphicon { margin-right:10px; }
.section-info .submenu #accordion .panel {border-radius: 0px; background: transparent; margin-top: 0px;}
.section-info .submenu #accordion .panel-mg-top{margin-top: 5px;}
.section-info .submenu #accordion .panel-body { padding:0px; margin:0 30px;}
.section-info .submenu #accordion .panel-body .table_1 h5 i { font-size:12px;}
.section-info .submenu #accordion .panel-body-bottom {margin-bottom: 5px;}
.section-info .submenu #accordion .panel-body .table {margin-bottom: 0px; }
.section-info .submenu #accordion .panel-heading { border-radius: 0px; background:rgb(50,57,70);}
.section-info .submenu #accordion .panel-heading .fa {width:16px; margin-left:-20px; }
.section-info .submenu #accordion .panel-collapse .panel-body .table_1 h5{ color: #fff; background:transparent;
border-bottom:1px dashed #000; margin:3px 0px; padding: 5px 0;}
.section-info .submenu #accordion .panel-collapse .panel-body .table_1 .bottom{border-bottom:0px; }
.section-info .submenu #accordion .panel-collapse .panel-body .table_1 a:hover{color: rgb(251,65,65); }
.section-info .submenu #accordion .panel-body .table_1 h5 { padding-left: 15px; }
.section-info .submenu #accordion .panel-body .table_1 h5 a{color: #00000c; text-decoration: none;}
.section-info .submenu #accordion .tipo-programa{border-left: none; border-right: none; border-top: none; 
border-radius: 2px; color: rgb(50,57,70); background: #f5f5f5; box-shadow: inset -1px -1px 4px 0px rgb(50,57,70);}
.section-info .submenu #accordion .mg-bottom{margin-bottom: 5px;}
.section-info .submenu #accordion .panel-hover a{text-decoration: none;}
.section-info .submenu #accordion .panel-hover:hover{background-color: rgba(251,65,65,.7); box-shadow: none;}
.section-info .submenu #accordion .panel-hover:hover h3{color:#fff; text-shadow: 0 0px 1px rgba(251,65,65,.9); }
/*-----------CONTENT-------*/
.content-info{ background: rgb(229,229,229); padding: 30px;}
.sub-titulo{ color: rgb(50,57,70);padding: 5px 15px;}
.sub-titulo h5{font-weight: 700; text-shadow: 0 1px 1px #fff; font-size: 16px;}	
.proyecto-resp{ margin: 10px 0;padding:20px 5px;  height: auto; background:#fff; }
.proyecto-resp .thumbnail{margin: 0px;}
.proyecto-resp .btn{padding: 2px 10px;}
button{background: rgba(251,65,65,.7); color: #fff;}
.proyecto-resp .btn:hover{ color:rgb(67,86,99); background: #eee; border:1px solid gray; }
.imagen-programa img{width: 100%;}
.modal-header{background: rgba(251,65,65,.7); color: #fff;}
.modal-header button{ background: : #fff;}
.modal-content, .modal-header{border-top-right-radius: 9px; border-top-left-radius: 9px;}
.modal.in .modal-dialog{margin: 30px auto; width: 80%;}
@media (max-width: 500px){
	.titulo-general{font-size: 25px; text-align: center;}
}
@media (max-width: 450px){
	.proyecto-resp .col-xs-5{width: 100%;}
	.proyecto-resp .col-xs-7{width: 100%;}
}