/**{outline: 1px solid red;}*/

.navbar-fixed-top{background-color: white; width: 100%;}

.menu-fix .container:after, .container:before {content: "" clear : both;}
.menu-fix nav.menu {background: white; position: relative; min-height: 45px; height: 100%;}
.menu-fix .menu > ul > li {list-style: none; display: inline-block; color: #fff; line-height: 45px;}
.menu-fix .menu > ul li a, .xs-menu li a {text-decoration: none; color: #000;   display:block; padding: 0px 24px;}
.menu-fix .menu > ul li a:hover {background:rgb(251,65,65); color: white;   transition-duration: 0.3s; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s;}
.menu-fix .active{ background:rgb(251,65,65) !important;}
.menu-fix .active a{ color:white !important;}
.menu-fix .displaynone{display: none;}
.menu-fix .xs-menu-cont{ display:none;}
.menu-fix .xs-menu-cont > a {
  background: none repeat scroll 0 0 #ff7f50;
  border-radius: 3px;
  padding: 3px 6px;
  display: block;
  border-bottom:1px solid #E67248;
    box-shadow: 0 1px 2px #e67248;
    -webkit-box-shadow: 0 1px 2px #e67248;
    -moz-box-shadow: 0 1px 2px #e67248;
}
.menu-fix .xs-menu-cont > a:hover{cursor: pointer;} 
.menu-fix .xs-menu li {color: #fff;padding: 14px 30px; border-bottom: 1px solid #ccc; background: #FF7F50;}
.menu-fix .xs-menu  a{text-decoration:none;}
.menu-fix .mega-menu {background: none repeat scroll 0 0 #888; 
  left: 0;margin-top: 3px; position: absolute; width: 100%; padding:15px; display:none; transition-duration: 0.9s;  }
.menu-fix #menutoggle i {color: #fff; font-size: 33px; margin: 0; padding: 0;}

/*--column--*/
.menu-fix .mm-6column:after, .mm-6column:before, .mm-3column:after, .mm-3column:before{ content:""; display:table; clear:both;}
.menu-fix .mm-6column, .mm-3column {float: left; position: relative;}
.menu-fix .mm-6column { width: 50%;}
.menu-fix .mm-3column {width: 25%;}
.menu-fix .responsive-img {display: block; max-width: 100%;}
.menu-fix .left-images{ margin-right:25px;}
.menu-fix .left-images, .left-categories-list { float: left;}
.menu-fix .categories-list li {display: block; line-height: normal; margin: 0; padding: 5px 0;}
.menu-fix .categories-list li :hover{background:inherit !important;}
.menu-fix .left-images > p {
    background: none repeat scroll 0 0 #ff7f50;
    display: block;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
}
.menu-fix .categories-list span { font-size: 18px; padding-bottom: 5px; text-transform: uppercase;}
.menu-fix .mm-view-more{
  background: none repeat scroll 0 0 #ff7f50;
    color: #fff;
    display: inline !important;
    line-height: normal;
    padding: 5px 8px !important;
  margin-top:10px;
}
.menu-fix .display-on{display:block; transition-duration: 0.9s;}
.menu-fix .drop-down > a:after{content:"\f103"; color:#fff; font-style: normal; margin-left: 5px;
}
/*Animation--*/
.menu-fix .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.menu-fix .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
 @media (max-width: 767px) {
  .menu {display:none;}
  .xs-menu li a { padding:0px;}
  .xs-menu-cont{display:block ;}
 }





.portada{
	background-image: url('../img/programas/capacitacion-alt/foto-portada1.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 450px;
	margin-top: 80px;
}
.portada .hoverAll{background: rgba(6,28,38,.2); width:100%; height:100%;}
.portada h4{
	text-align: center;
    font-weight: 500;
    color: white;
    font-size: 25px; margin-top: 0px;
    text-shadow: 1px 2px 1px black;
}
.portada img{ width: 40%; padding: 5px;}
.portada .box-in {
	padding: 20px; 
	background: linear-gradient( 0deg, rgba(67,86,99,.5), rgba(255,255,255,.3));
 	height: auto; width:100%; top: 67.8%; position: relative; }


.section-info .capacitacion-info {background-color: rgb(229,229,229); padding: 30px;}
.section-info .capacitacion-info .titulo{background-color: rgb(50,57,70); padding: 12px 1em; color: white; margin:0 0 15px 0;
	font-size: 30px; font-weight: 500; text-shadow: 0 1px 1px #000;}
.section-info .capacitacion-info h4{font-size: 16px; font-weight: 600; color: rgb(40, 46, 58);}
/*-----------SUB-MENU-----------------*/
.section-info .submenu {padding-top: 30px;}
.section-info .submenu ._Title{border: none; border-radius: 0px;}
/*.section-info .submenu #accordion .spacy{background-color: rgb(229,229,229); height:30px;width:100%;}*/
.section-info .submenu #accordion h4{text-transform: uppercase; font-weight: 300; color: white; text-shadow: 0 1px 1px #000; font-size:16px;}
.section-info .submenu #accordion .glyphicon { margin-right:10px; }
.section-info .submenu #accordion .panel-body { padding:0px; }
.section-info .submenu .panel-group .panel+.panel{margin-top: 0px;}
.section-info .submenu #accordion .panel-body .table {margin-bottom: 0px; }
.section-info .submenu #accordion .panel-heading {background-color:rgb(50,57,70); border-radius: 0px;}
.section-info .submenu #accordion .panel-body .fa {width:16px; margin-left:-20px; color: white; }
.section-info .submenu #accordion .panel-body .table_1{background-color:rgb(50,57,70); border:1px solid transparent; margin:5px 0px; }
.section-info .submenu #accordion .panel-body .table_1:hover .fa{color: rgb(50,57,70);}
.section-info .submenu #accordion .panel-body .table_1:hover {background-color:rgb(229,229,229); border: 1px solid rgb(50,57,70); border-radius:5px;}
.section-info .submenu #accordion .panel-body .table_1:hover a{color: rgb(50,57,70); text-decoration: none; font-weight: 500;}
.section-info .submenu #accordion .panel-body .table_1 h5 { padding-left: 30px; text-transform:none;}
.section-info .submenu #accordion .panel-body .table_1 h5 a{color: white;font-weight:100; }


figure {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  display: inline-block;
  background: rgb(67,86,99);
  width: 100%;
  height: 214px;
  overflow: hidden;
  position: relative;
  border: 6px solid rgb(67,86,99) ;  /*#143c3c*/
}
figure:hover {border-width: 9px;}
figure:hover .title {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}
figure:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
figure:hover .description {
  opacity: 1;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}
figure:hover .iconos {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  opacity: 1;
}
figure .title {
	margin: 0px;
  position: absolute;
  bottom: 0px;
  padding: 5px;
  width: 100%;
  text-align: center;
  color: #fff; font-weight: 100;
  font-size: 17px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  background: rgba(67, 86, 99, 0.9);
}
figure img {width: 100%; position: absolute;-webkit-transition: all 500ms; transition: all 500ms;}
.description {
  width: 80%;
  opacity: 0;
  height: 100px;
  position: absolute;
  top: 45%;
  left: 10%;
  font-size: 13px;
  color: white;
  background: rgba(67,86,99,.6);
  -webkit-transition: all 300ms;
  transition: all 300ms;
  text-align: center;
  padding: 7px;
}
.iconos {
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  position: absolute;
  bottom: -80px;
  height: 50px;
  width: 100%;
  text-align: center;
}
.iconos li {display: inline; margin: 5px;position: relative;}
.iconos i {font-size: 25px; color: #fff;}
.iconos i:after { top: -20px; left: -4px; position: absolute; content: ""; width: 120%; height: 230%;  opacity: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.iconos i:before {width: 100px;height: 100px; border-radius: 100px; background: rgb(67, 86, 99); padding: 8px 10px;}
.iconos i:hover {color:white ;cursor: pointer;}
.iconos i:hover:before {background: black;}
.iconos i:hover:after {opacity: 1;-webkit-transform: scale(1); transform: scale(1);}


.modal-header-primary {
    color:#fff;
    padding:0px 15px;
    border-bottom:1px solid #eee;
    background-color: rgba(21,56,116,.7);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.talleres .btn{padding: 0px 5px;}
.section-info .capacitacion-info .talleres .taller{margin-bottom: 10px;}
.section-info .capacitacion-info .talleres .taller .modal-body hr{border-top: 1px solid gray; margin:0 0 15px;}
.section-info .capacitacion-info .talleres .taller .gallery img{width: 100%; }
.section-info .capacitacion-info .talleres .taller .gallery {margin: 10px 0px 140px;}
.section-info .capacitacion-info .talleres .taller .modal-footer{margin-top: 0px;}
.section-info .capacitacion-info .talleres .taller .modal-footer .btn{background:rgba(21,56,116,.8);color: #fff; }
.section-info .capacitacion-info .line{margin: 10px 0px; border-top:1px solid rgb(67, 86, 99);  }

@media only screen and (min-width: 992px ) and (max-width: 1199px){
	.description {font-size: 12px; padding: 3px;}
}
@media only screen and (min-width: 421px ) and (max-width: 520px){
	.description {font-size: 12px; padding: 3px; width: 90%; left: 5%;}
}
@media only screen and (min-width: 200px ) and (max-width: 289px){
	.description {font-size: 13px; padding: 3px; width: 90%; left: 5%;}
}
@media( max-width: 500px ){.section-info .capacitacion-info .titulo{font-size: 25px; text-align: center;} }
@media (max-width: 420px){
	.section-info .capacitacion-info .talleres .col-xs-6{width: 100%;}
	.section-info .capacitacion-info .talleres .taller .gallery img{margin-bottom:10px; }
}