.portada{
	background-image: url('../img/programas/cecrein/slider-cecrein.jpg');
	background-size: cover;
	background-position: center;
	background-position-y:2%; 
	width: 100%;
	height: 450px; 
	margin-top: 80px;
	border-top: 1px solid #ccc;
}
.portada h4{
	text-align: center;
    font-weight: 500;
    color: white;
    font-size: 25px; margin-top: 0px;
    text-shadow: 1px 2px 1px black;
}
.portada img{ width: 40%; padding: 5px;}
.portada .box-in {
	padding: 20px; 
	background: linear-gradient( 0deg, rgba(67,86,99,.7), rgba(255,255,255,.5));
 	height: auto; width:100%; top: 67.8%; position: relative; }



.content-info .submenu #accordion{background: transparent; margin-bottom: 0;}
.content-info .submenu ._Title{border: none; margin-bottom: 4px;}
.content-info .submenu #accordion .spacy{background-color: rgb(229,229,229); height:30px;width:100%;}
.content-info .submenu #accordion h4{text-transform: uppercase; font-weight: 300; text-shadow: 0 1px 1px #000; font-size:15px; color: #fff;}
.content-info .submenu #accordion h3{text-transform: none; font-size: 14px; padding-left: 15px; text-shadow: 0 0 0 #000; font-weight:400; }
.content-info .submenu #accordion .glyphicon { margin-right:10px; }
.content-info .submenu #accordion .panel {border-radius: 0px; background: transparent; margin-top: 0px;}
.content-info .submenu #accordion .panel-mg-top{margin-top: 0px;}
.content-info .submenu #accordion .panel-body { padding:0px;}
.content-info .submenu #accordion .panel-body .table_1 h5 i { font-size:10px; width: 10px;}
.content-info .submenu #accordion .pd-bottom {margin-bottom: 5px; margin-top: -5px;}
.content-info .submenu #accordion .panel-body .table {margin-bottom: 0px; }
.content-info .submenu #accordion .panel-heading { border-radius: 0px; background:rgb(50,57,70);}
.content-info .submenu #accordion .panel-heading .fa {width:16px; margin-left:-20px; }
.content-info .submenu #accordion .panel-collapse .panel-body .table_1 h5{ color: #fff; background:transparent;
border-bottom:1px solid rgba(50,57,70,.5); margin: 0px; padding: 8px 15px;}
.content-info .submenu #accordion .panel-collapse .panel-body .table_1 .bottom{border-bottom:0px;}
.content-info .submenu #accordion .panel-collapse .panel-body .table_1:hover{background-color: rgba(251,65,65,.8); }
.content-info .submenu #accordion .panel-collapse .panel-body .table_1:hover a{color: #fff;font-weight: 500; }
.content-info .submenu #accordion .panel-body .table_1 h5 { padding-left: 15px; }
.content-info .submenu #accordion .panel-body .table_1 h5 a{color: #00000c; text-decoration: none;}
.content-info .submenu #accordion .panel-body .table_1 .active a{color:rgb(251,65,65); }
.content-info .submenu #accordion .tipo-programa{border-left: none; border-right: none; border-top: none; 
border-radius: 2px; color: rgb(50,57,70); background: #f5f5f5; box-shadow: inset -1px -1px 4px 0px rgb(50,57,70);}
.content-info .submenu #accordion .mg-bottom{margin-bottom: 5px;}
.content-info .submenu #accordion .panel-hover a{text-decoration: none;}
.content-info .submenu #accordion .panel-hover:hover{background-color: rgba(251,65,65,.8); box-shadow: none;}
.content-info .submenu #accordion .panel-hover:hover h3{color:#fff; text-shadow: 0 0px 1px rgba(251,65,65,.9); }
.content-info .submenu #accordion .panel-mg-top .active { background-color: rgba(251,65,65,.8); box-shadow: none;}
.content-info .submenu #accordion .panel-mg-top .active h3 { color:#fff; text-shadow: 0 0px 1px rgba(251,65,65,.9);}
/*-----------content------------*/
.content-info{background-image: url(../img/fondo-bg.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;
  width: 100%; position: relative;}
/*----------responsive large------*/
@media only screen and (min-width: 1921px ) and (max-width: 2600px){
  .portada{ height: 550px;}
  .portada h4{font-size: 40px;}
  .portada .box-in { top: 60.5%; }
}
@media only screen and (max-width: 2540px){.portada .box-in {top: 60.8%;} }
@media only screen and (max-width: 1950px) {.portada .box-in {top: 65.7%;} }
@media only screen and (max-width: 1920px){.portada .box-in { top: 62.6%; } }
@media only screen and (max-width: 1600px) {.portada .box-in {top: 68.4%;} }
@media only screen and (max-width: 1440px) {.portada .box-in {top: 66.9%;} }
@media only screen and (max-width: 1366px) {.portada .box-in {top: 65.9%;} .portada img{ width: 45%;} }
@media only screen and (max-width: 1093px) {.portada .box-in {top: 68.8%;}
@media only screen and (max-width: 1024px) {.portada .box-in {top: 68.5%;} .portada img{ width: 50%;} .portada h4{font-size: 25px;} }
@media only screen and (max-width: 768px) {.portada .box-in {top: 70%;} .portada img{ width: 60%;} }
@media only screen and (max-width: 450px) {.portada .box-in {top: 65%;} .portada img{ width: 100%;} }
@media only screen and (max-width: 425px) {.portada .box-in {top: 66.9%;} .portada img{ width: 100%;} .portada h4{font-size: 23px; }
@media only screen and (max-width: 375px) {.portada .box-in {top: 68%;} }
@media only screen and (max-width: 320px) {.portada .box-in {top: 69%;}}

