.portada{
	background-image: url('../img/programas/capacitacion-alt/port-capa.jpg');
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 450px; 
	margin-top: 80px;
}
.portada h4{
	text-align: center;
    font-weight: 500;
    color: white;
    font-size: 25px; margin-top: 0px;
    text-shadow: 1px 2px 1px black;
}
.portada img{ width: 40%; padding: 5px;}
.portada .box-in {
	padding: 20px; 
	background: linear-gradient( 0deg, rgba(67,86,99,.7), rgba(255,255,255,.5));
 	height: auto; width:100%; top: 67.8%; position: relative; }



.content-info .submenu #accordion{background: transparent; margin-bottom: 0;}
.content-info .submenu ._Title{border: none;}
.content-info .submenu #accordion .spacy{background-color: rgb(229,229,229); height:30px;width:100%;}
.content-info .submenu #accordion h4{text-transform: uppercase; font-weight: 300; text-shadow: 0 1px 1px #000; font-size:15px; color: #fff;}
.content-info .submenu #accordion h3{text-transform: none; font-size: 14px; padding-left: 15px; text-shadow: none; font-weight:bold; }
.content-info .submenu #accordion .glyphicon { margin-right:10px; }
.content-info .submenu #accordion .panel {border-radius: 0px; background: transparent; margin-top: 0px;}
.content-info .submenu #accordion .panel-mg-top{margin-top: 5px;}
.content-info .submenu #accordion .panel-body { padding:0px; margin:0 30px;}
.content-info .submenu #accordion .panel-body .table_1 h5 i { font-size:12px;}
.content-info .submenu #accordion .panel-body-bottom {margin-bottom: -5px;}
.content-info .submenu #accordion .pd-bottom {margin-bottom: 10px;}
.content-info .submenu #accordion .panel-body .table {margin-bottom: 0px; }
.content-info .submenu #accordion .panel-heading { border-radius: 0px; background:rgb(50,57,70);}
.content-info .submenu #accordion .panel-heading .fa {width:16px; margin-left:-20px; }
.content-info .submenu #accordion .panel-collapse .panel-body .table_1 h5{ color: #fff; background:transparent;
border-bottom:1px solid rgba(50,57,70,.5); margin:3px 0px; padding: 5px 0;}
.content-info .submenu #accordion .panel-collapse .panel-body .table_1 .bottom{border-bottom:0px; }
.content-info .submenu #accordion .panel-collapse .panel-body .table_1 a:hover{color: rgb(251,65,65); }
.content-info .submenu #accordion .panel-body .table_1 h5 { padding-left: 15px; }
.content-info .submenu #accordion .panel-body .table_1 h5 a{color: #00000c; text-decoration: none;}
.content-info .submenu #accordion .panel-body .table_1 .active a{color:rgb(251,65,65);}
.content-info .submenu #accordion .tipo-programa{border-left: none; border-right: none; border-top: none; 
border-radius: 2px; color: rgb(50,57,70); background: #f5f5f5; box-shadow: inset -1px -1px 4px 0px rgb(50,57,70);}
.content-info .submenu #accordion .mg-bottom{margin-bottom: 5px;}
.content-info .submenu #accordion .panel-hover a{text-decoration: none;}
.content-info .submenu #accordion .panel-hover:hover{background-color: rgba(251,65,65,.7); box-shadow: none;}
.content-info .submenu #accordion .panel-hover:hover h3{color:#fff; text-shadow: 0 0px 1px rgba(251,65,65,.9); }
.content-info .submenu #accordion .panel-mg-top .active { background-color: rgba(251,65,65,.7); box-shadow: none;}
.content-info .submenu #accordion .panel-mg-top .active h3 { color:#fff; text-shadow: 0 0px 1px rgba(251,65,65,.9);}
