
.portada{background-image: url(../img/programas/ciam/portada-ciam.jpg);
background-size: cover;background-position:center; width: 100%; height: 450px; margin-top: 80px;}
/*.portada .hoverAll{background: rgba(6,28,38,.2); width:100%; height:100%;}*/
.portada .block{color:white; margin: 14% 24% 0 24%; text-align: center; border-top: 1px solid #fff; border-bottom:1px solid #fff;
padding: 0 10px;}
.portada h3 {font-size: 27px; text-transform:uppercase; margin:10px 0 20px; text-shadow:0px 1px 5px #2D3129;font-weight: bold;}
.portada h4{font-size:17px; font-weight: 400; text-align: center; padding: 0 10px; text-shadow:1px 1px 2px #2D3129;}

/*-------submenu----------*/
.content-info .submenu #accordion{background: transparent; margin-bottom: 0;}
.content-info .submenu ._Title{border: none; margin-bottom: 4px;}
.content-info .submenu #accordion .spacy{background-color: rgb(229,229,229); height:30px;width:100%;}
.content-info .submenu #accordion h4{text-transform: uppercase; font-weight: 300; text-shadow: 0 1px 1px #000; font-size:15px; color: #fff;}
.content-info .submenu #accordion h3{text-transform: none; font-size: 14px; padding-left: 15px; text-shadow: 0 0 0 #000; font-weight:400; }
.content-info .submenu #accordion .glyphicon { margin-right:10px; }
.content-info .submenu #accordion .panel {border-radius: 0px; background: transparent; margin-top: 0px;}
.content-info .submenu #accordion .panel-mg-top{margin-top: 0px;}
.content-info .submenu #accordion .panel-body { padding:0px;}
.content-info .submenu #accordion .panel-body .table_1 h5 i { font-size:10px; width: 10px;}
.content-info .submenu #accordion .pd-bottom {margin-bottom: 5px; margin-top: -5px;}
.content-info .submenu #accordion .panel-body .table {margin-bottom: 0px; }
.content-info .submenu #accordion .panel-heading { border-radius: 0px; background:rgb(50,57,70);}
.content-info .submenu #accordion .panel-heading .fa {width:16px; margin-left:-20px; }
.content-info .submenu #accordion .panel-collapse .panel-body .table_1 h5{ color: #fff; background:transparent;
border-bottom:1px solid rgba(50,57,70,.5); margin: 0px; padding: 8px 15px;}
.content-info .submenu #accordion .panel-collapse .panel-body .table_1 .bottom{border-bottom:0px;}
.content-info .submenu #accordion .panel-collapse .panel-body .table_1:hover{background-color: rgba(251,65,65,.8); }
.content-info .submenu #accordion .panel-collapse .panel-body .table_1:hover a{color: #fff;font-weight: 500; }
.content-info .submenu #accordion .panel-body .table_1 h5 { padding-left: 15px; }
.content-info .submenu #accordion .panel-body .table_1 h5 a{color: #00000c; text-decoration: none;}
.content-info .submenu #accordion .panel-body .table_1 .active a{color:rgb(251,65,65); font-weight: bold;}
.content-info .submenu #accordion .tipo-programa{border-left: none; border-right: none; border-top: none; 
border-radius: 2px; color: rgb(50,57,70); background: #f5f5f5; box-shadow: inset -1px -1px 4px 0px rgb(50,57,70);}
.content-info .submenu #accordion .mg-bottom{margin-bottom: 5px;}
.content-info .submenu #accordion .panel-hover a{text-decoration: none;}
.content-info .submenu #accordion .panel-hover:hover{background-color: rgba(251,65,65,.7); box-shadow: none;}
.content-info .submenu #accordion .panel-hover:hover h3{color:#fff; text-shadow: 0 0px 1px rgba(251,65,65,.9); }


/*--------CONTENIDOOO------*/
.content-info{background-image: url(../img/fondo-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;}
.nomargin{margin: 0;}
.nopadding{padding: 0;}
.padding-left{padding-left: 25px}
.padding-right{padding-right: 25px;}
.inline-block{display: inline-block; margin: 10px;}
.margin{margin: 10px auto;}
h4{font-size: 16px; font-weight: 600;margin: 10px auto;}
.panel-default{ width: 100%;}
.panel-group{margin-bottom:15px;}
.panel-title{font-weight: 100; font-size: 15px;}
.img-taller{height: 174px; width: 140px;}
.img-servicio{width: 100%; margin: 10px auto 0px;}
/*---------------- CONTENIDOO ----------*/
.titulo-general{background: rgb(50, 57, 70); color: #fff; padding: 20px;}
.panel-default>.panel-heading {color: #fff; background-color: rgb(67,86,99);}
.titulo-programa{width: 100%; background: rgb(50,57,70); padding: 12px 1em; font-size: 30px; color: #fff; 
	margin-bottom: 15px; text-shadow:0 1px 1px #000; margin-top: 0px;}

.contenido-programas{padding: 30px; }
.titulo-linea{border-bottom: 2px solid #fff; padding: 5px; margin-bottom: 10px;}

@media (min-width: 1921px ) and (max-width: 2560px){
  .portada{height: 550px;}
  .portada .block{ margin: 18.5% 24% 0 24%;}
}
@media (max-width: 1093px){.portada .block{ margin: 17% 24% 0 24%;}}
@media (max-width: 768px){.portada .block{ margin: 21% 24% 0 24%;}.portada .block h4{font-size:16px;} }
@media (max-width: 500px){.portada .block{ margin: 32% 20% 0 20%;}}
@media (max-width: 425px){.portada .block{ margin: 35% 20% 0 20%;}}
@media (max-width: 375px){.portada .block{margin: 37% 20% 0 20%;}}
@media (max-width: 320px){.portada .block{margin: 42% 20% 0 20%;} .portada .block h3{font-size:1.6em;} }

@media (max-width: 570px){.gallery .col-xs-3{width: 50%;}
@media( max-width: 500px ){.titulo-programa{font-size: 25px; text-align: center;} }
@media (max-width: 380px){.gallery .col-xs-3{width: 100%;} }
@media (min-width: 270px) and (max-width: 991px){ 
    .list-unstyled {padding-top: 10px; margin-bottom: 0px;}
}

