/**{outline: 1px 'solid red;}*/

body{font-family:'Roboto', sans-serif;}
.imagen-hero{
  /*background-image: url("../img/programas/casa_isabel/casa-portada.jpg");*/
	background-image: url("../img/programas/casa_isabel/portada-casaisabel.jpg");
	background-size: cover;
  background-position: top center;
	width: 100%;
	height: 450px;
	position: relative;
  margin-top: 80px;
}
/*.imagen-hero .hoverAll{background: rgba(6,28,38,.2); width:100%; height:100%;}*/
.imagen-hero .titulo{
    font-size: 30px;
    font-family:'Roboto', sans-serif;   
    font-weight: 500;
    text-shadow: 0 1px 1px #000;
}
.imagen-hero .block{
    color:white;
    background-color: rgba(0,0,0,0.6);
    width: 400px; height: auto;
    float: right;
    margin-top: 140px;
    padding: 20px;
    text-align: center;
}

/*-------submenu----------*/
.content-info .submenu #accordion{background: transparent; margin-bottom: 0;}
.content-info .submenu ._Title{border: none;}
.content-info .submenu #accordion .spacy{background-color: rgb(229,229,229); height:30px;width:100%;}
.content-info .submenu #accordion h4{text-transform: uppercase; font-weight: 300; text-shadow: 0 1px 1px #000; font-size:15px; color: #fff;}
.content-info .submenu #accordion h3{text-transform: none; font-size: 14px; padding-left: 15px; text-shadow: none; font-weight:bold; }
.content-info .submenu #accordion .glyphicon { margin-right:10px; }
.content-info .submenu #accordion .panel {border-radius: 0px; background: transparent; margin-top: 0px;}
.content-info .submenu #accordion .panel-mg-top{margin-top: 5px;}
.content-info .submenu #accordion .panel-body { padding:0px; margin:0 30px;}
.content-info .submenu #accordion .panel-body .table_1 h5 i { font-size:12px;}
.content-info .submenu #accordion .panel-body-bottom {margin-bottom: -5px;}
.content-info .submenu #accordion .pd-bottom {margin-bottom: 10px;}
.content-info .submenu #accordion .panel-body .table {margin-bottom: 0px; }
.content-info .submenu #accordion .panel-heading { border-radius: 0px; background:rgb(50,57,70);}
.content-info .submenu #accordion .panel-heading .fa {width:16px; margin-left:-20px; }
.content-info .submenu #accordion .panel-collapse .panel-body .table_1 h5{ color: #fff; background:transparent;
border-bottom:1px solid rgba(50,57,70,.5); margin:3px 0px; padding: 5px 0;}
.content-info .submenu #accordion .panel-collapse .panel-body .table_1 .bottom{border-bottom:0px; }
.content-info .submenu #accordion .panel-collapse .panel-body .table_1 a:hover{color: rgb(251,65,65); }
.content-info .submenu #accordion .panel-body .table_1 h5 { padding-left: 15px; }
.content-info .submenu #accordion .panel-body .table_1 h5 a{color: #00000c; text-decoration: none;}
.content-info .submenu #accordion .panel-body .table_1 .active a{color:rgb(251,65,65);}
.content-info .submenu #accordion .tipo-programa{border-left: none; border-right: none; border-top: none; 
border-radius: 2px; color: rgb(50,57,70); background: #f5f5f5; box-shadow: inset -1px -1px 4px 0px rgb(50,57,70);}
.content-info .submenu #accordion .mg-bottom{margin-bottom: 5px;}
.content-info .submenu #accordion .panel-hover a{text-decoration: none;}
.content-info .submenu #accordion .panel-hover:hover{background-color: rgba(251,65,65,.7); box-shadow: none;}
.content-info .submenu #accordion .panel-hover:hover h3{color:#fff; text-shadow: 0 0px 1px rgba(251,65,65,.9); }




.content-info .info-text{/*background-color: rgba(229,229,229,.5);*/ padding-bottom: 30px; padding-top: 10px;}
.content-info .info-text .titulo{background-color: rgb(50,57,70); padding: 12px 1em; color: white;
font-size: 30px; font-weight: 500; text-shadow: 0 1px 1px #000;}
.content-info .info-text h4{font-size: 16px; font-weight: 600; color: rgb(40, 46, 58);}
.content-info .info-text .gallery img{margin-bottom: 8px; width: 100%;}

.content-info .info-text .talleres #accordion2 .nopadding{padding: 0;}
.content-info .info-text .talleres #accordion2 .productos{margin-top: 0.5em;}
.content-info .info-text .talleres #accordion2 .subtitulo{ background-color: rgb(251, 61, 61); color:white; border-left: 15px solid #fff; border-right: 15px solid#fff; border-top: 5px solid #fff;}
.content-info .info-text .talleres #accordion2 .panel-default>.panel-heading{background-color: #435663; color:white;}
.content-info .info-text .talleres #accordion2 .panel-default>.panel-heading .panel-title{color:white; font-weight: 100;font-size:15px; }
.content-info .info-text .talleres #accordion2 .panel-default .panel-body .images{margin: auto;}
.content-info .info-text .talleres #accordion2 .panel-default .panel-body .images img{width: 100%;}
.content-info .info-text .talleres #accordion2 .panel-default .panel-body .images1 img{width: 100%; margin-bottom: 5px;}

@media( max-width: 500px ){.content-info .info-text .titulo{font-size: 25px;} }
@media only screen and (min-width: 300px ) and (max-width: 767px){ .menu2{visibility: visible;}}
@media( max-width: 380px ){
  .content-info .info-text .gallery .col-xs-6{ width: 100%;}
  .content-info .info-text .gallery .off-img{visibility: hidden;}
  .content-info .info-text .gallery {margin-top:-220px }
}


 /*@media only screen and (min-width: 2560px) { body {  font-size: 30.38px; } }
  @media only screen and (max-width: 1950px) { body {  font-size: 22.97px; } } 
  @media only screen and (max-width: 1600px) { body { font-size: 18.92px; } } 
  @media only screen and (max-width: 1440px) { body {  font-size: 17.07px; } } 
  @media only screen and (max-width: 1366px) { body { font-size: 16px; } } 
  @media only screen and (max-width: 768px) { body { font-size: 12.57px; } } 
  @media only screen and (max-width: 1024px) { body {  font-size: 12.14px; } } 
  @media only screen and (max-width: 768px) { body { font-size: 9px; } }
  @media only screen and (max-width: 450px) { body {  } }
  @media only screen and (max-width: 320px) { body {  } }
*/

 





 /*@media (min-width: 2560px) { 
    .imagen-hero .fila{ padding-top:11.9%;}
    .imagen-hero .logo{ margin-right: 1%; }
    .imagen-hero .logo img{float: right; width: 45%; }
 }
 @media (min-width: 1949px) { 
    .imagen-hero .fila{ padding-top:16.9%;}
    .imagen-hero .logo img{float: right; width: 50%; }
 }
 @media (min-width: 1600px) { 
    .imagen-hero .fila{ padding-top:21.3%;}
    .imagen-hero .logo{ margin-right: 20%; }
    .imagen-hero .logo img{float: right; width: 55%; }
 }
 @media only screen and (min-width: 1440px) { 
    .imagen-hero .fila{ padding-top:23.7%;}
    .imagen-hero .logo img{float: right; width: 62%; }
 }
 @media (min-width: 1366px) { 
    .imagen-hero .fila{ padding-top:21.3%;}
    .imagen-hero .logo{ margin-right: 20%; }
    .imagen-hero .logo img{float: right; width: 55%; }
 }*/



.goog-te-banner-frame { display: none; top: 30%;}
#translate #cover{
  position: absolute;
  top: 0;
  z-index: 999;
    width: 109px;
  height: 28px;
  background-color: #3a3a3a;
  background-image:url('https://s29.postimg.org/o9kr40wtz/imagen_boton_select.jpg');
    -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* #translate{
  width: 166px;
  height: 28px;
  background-image:url('http://i886.photobucket.com/albums/ac69/mattbtw/Otranslate.png~original');
  position: relative;
  margin: 0 auto;
  cursor: pointer; 
} */
#translate:hover #cover{ height: 0px;}