/**{outline: 1px solid red;}*/*/
img {
  max-width: 100%; 
}

a { 
  /*color: #0066CC; */
  text-decoration: none; 
}

a:hover { 
  color: #CC0000; 
  /*text-decoration: underline; */
}

.prenda-producto{
  background: rgb(229,229,229); 
  background-size: 100px;
  padding: 50px 30px 30px 30px;
}

.gris{
  background: rgb(247,247,247); 
  padding-top: 30px; 
  padding-bottom: 30px;
}
.producto-textil{
  background: rgb(255,255,255); 
  margin: 20px auto;
}
.descripcion-producto{
  padding: 30px;
}

.descripcion-producto ul li{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /*border: 1px solid rgb(229,229,229);*/
  text-align: center;
  padding: 9px 1px;
}
.color1 {background: rgb(218,247,166);} /*#DAF7A6*/
.color2 {background: rgb(0,218,0);} /*#008000*/
.color3 {background: rgb(0,255,255);} /*#00ffff*/
.color4 {background: rgb(0,128,128);} /*#008080*/
.color5 {background: rgb(0,0,255);} /*0000ff*/



.btnfos {
  color: rgb(21,56,116);
  cursor: pointer;
  display: block;
  /*font-size: 16px;*/
  /*font-weight: 400;*/
  line-height: 45px;
  max-width: 40%;
  /*margin: 0 auto 2em;*/
  position: relative;
  /*text-transform: uppercase;*/
  vertical-align: middle;
  width: 100%;
  margin: 5px 30%;
}
a.btnfos{
  text-decoration: none;
}
@media (min-width: 400px) {
  .btnfos {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btnfos:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btnfos:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btnfos:nth-of-type(5) {
    margin-right: 0;
  }
}

.btnfos-1 {
  /*background: #3498db;*/
  /*font-weight: 100;*/
}
.btnfos-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}
.btnfos-1 rect {
  fill: none;
  stroke: rgb(21,56,116);
  stroke-width: 3;
  stroke-dasharray: 422, 0;
}

.btnfos-1:hover {
  background: rgba(225, 51, 45, 0);
  color: rgb(21,56,116);
  /*letter-spacing: 1px;*/
  /*font-weight: 900;*/
}
.btnfos-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
